.services img{
    padding: 10px 10px 10px 20px ;
}
.btnproduct{
    align-items: center;
    margin-left: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #b12154 !important;
    color: #fff;
    border: 1px solid #b12154;

}
.btnproduct a{
    color: #fff;
    text-decoration: none;
}
.product-head{
    margin-left: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-heading{
    margin-left: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem !important;
}
.section-subtitle{
margin-top:2rem;
}

.contact-btn {
    padding: 7px 15px;
    background: #b12154;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 200px;
    font-size: 15px;
    margin-left: 42%;
    transition: .3s;
    margin-bottom: 2rem;

  }
  .contact-btn:hover{
    color: #fff;
    background: orangered;
  }
  .contactf{
    background: blue;
  }
  .contact-form{
    width: 600px;
    margin-left: 25rem;
    background: #fff;
  }

  .touch{
   color: #fff !important;
   font-weight: 600;
   align-items: center;
   font-size: 2.2rem;
   margin-left: 42%;
  }
  .getintouch{
    background: blue ;
margin-top: 2rem;
  }
  @media  only screen and (max-width:762px) {
    .product-head{
      margin-left: 1rem;
    }
    .services{
      display: flex;
      flex-direction: column;
    }
    .services h6{
      margin-left: 3rem;
    }
    .btnproduct{
      margin-left: 2rem;
    }
    .section-heading{
      margin-left: 3rem;
    }
    .touch{
      margin-left: 2rem;
    }
  
    .contact-form{
      margin-left: 1rem;
      width: auto;
      margin-right: 1rem;
    }
  }
